# Prerequisites
*.d

# Compiled Object files
*.slo
*.map
*.in
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS X
.DS_STORE

# Python
.ipynb_checkpoints/*

# Tensorboard logs + tensorflow weights
logs_sign/*
output/*
output_45/*

# Dataset only upload the csv files
sign_language_dataset_color/Dataset/0/*
sign_language_dataset_color/Dataset/1/*
sign_language_dataset_color/Dataset/2/*
sign_language_dataset_color/Dataset/3/*
sign_language_dataset_color/Dataset/4/*
sign_language_dataset_color/Dataset/5/*
sign_language_dataset_color/Dataset/6/*
sign_language_dataset_color/Dataset/7/*
sign_language_dataset_color/Dataset/8/*
sign_language_dataset_color/Dataset/9/*
